---
import BlockWrapper from "../BlockWrapper.astro";
import SiteMaster from "./SiteMaster.astro";
import Zone from "../Zone.astro";
//import MarkdownWrapper from "../blocks/MarkdownWrapper.astro";

console.log('Hello from the full-width layout!')

console.log('Goodbye from the full-width layout!');
console.log('____________________________');
---

<SiteMaster>
    <div slot="main">
        <section id="secPageTitle">
            <p>This is the Page title for Full Width</p>
            <Zone name="Context">
            </Zone>
        </section>
        <section id="page-context">
            <div class="bg-red-200">
                <p>This is where an alert would go</p>
            </div>
            <div class="flex flex-wrap">
                <div class="md:w-full pr-4 pl-4">
                    <Zone name="Feature">
                        <BlockWrapper>
                            <span>Id: </span>,
                            <span>Name: </span>,
                            <span>Zone: </span>
                        </BlockWrapper>
                    </Zone>
                </div>
            </div>
            <div class="flex flex-wrap ">
                <div class="md:w-full pr-4 pl-4">
                    <Zone name="Main">
                        This is the Main Zone
                        <BlockWrapper>
                            <span>Id: </span>,
                            <span>Name: </span>,
                            <span>Zone: </span>
                        </BlockWrapper>
                    </Zone>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="md:w-1/3 pr-4 pl-4">
                    <Zone name="Section A">
                        This is Section A
                        <BlockWrapper>
                            <span>Id: </span>,
                            <span>Name: </span>,
                            <span>Zone: </span>
                        </BlockWrapper>
                    </Zone>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="md:w-1/3 pr-4 pl-4">
                    <Zone name="Section B">
                        This is Section B
                        <BlockWrapper>
                            <span>Id: </span>,
                            <span>Name: </span>,
                            <span>Zone: </span>
                        </BlockWrapper>
                    </Zone>
                </div>
                <div class="md:w-1/3 pr-4 pl-4">
                    <Zone name="Section C">
                        This is Section C
                        <BlockWrapper>
                            <span>Id: </span>,
                            <span>Name: </span>,
                            <span>Zone: </span>
                        </BlockWrapper>
                    </Zone>
                </div>
                <div class="md:w-1/3 pr-4 pl-4">
                    <Zone name="Section D">
                        This is Section D
                        <BlockWrapper>
                            <span>Id: </span>,
                            <span>Name: </span>,
                            <span>Zone: </span>
                        </BlockWrapper>
                    </Zone>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="md:w-1/2 pr-4 pl-4">
                    <Zone name="Section E">
                        This is Section E
                        <BlockWrapper>
                            <span>Id: </span>,
                            <span>Name: </span>,
                            <span>Zone: </span>
                        </BlockWrapper>
                    </Zone>
                </div>
                <div class="md:w-1/2 pr-4 pl-4">
                    <Zone name="Section F">
                        This is Section F
                        <BlockWrapper>
                            <span>Id: </span>,
                            <span>Name: </span>,
                            <span>Zone: </span>
                        </BlockWrapper>
                    </Zone>
                </div>
            </div>
        </section>
    </div>
</SiteMaster>