---
const demoFile = "test";
//const components = await Astro.glob('./blocks/*.astro');
//let component = components.find((component) => component.file.includes(demoFile));
//if (component === undefined) {
//    component = (await Astro.glob('./blocks/Error.astro'))[0];
//}
//const BlockComponent = component.default;
//<BlockComponent client:load />
---

<div>
    <div>
        Block Component
    </div>
</div>