---

const {link, url, color} = Astro.props;

---

<a class="relative inline-block group focus:outline-none focus:ring rounded-xl" href={url}>
    <span class="absolute inset-0 transition-transform translate-x-0 translate-y-0 bg-orange-300 group-hover:translate-y-1.5 group-hover:translate-x-1.5 rounded-xl"></span>
    <span class="relative inline-block px-8 py-3 text-sm font-bold tracking-widest uppercase border-2 border-current rounded-xl">
    {link}
    </span>
</a>