---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
const { frontmatter } = Astro.props;
const { title, description, publishDate } = frontmatter;

console.log(Astro.props);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body id="body" class="max-w-3xl mx-auto min-h-screen px-6 sm:px-8 my-6">
    <Navbar />
    <main class="mb-20">
        <section class="prose max-w-none">
            <h1 class="border-b-[1px] font-bold text=4xl md:text-5xl pt-6 pb-10 overflow-hidden">
                <span class="bg-gradient-to-br from-[#334155] to-[#0f172a] bg-clip-text text-transparent">{ title }</span>
            </h1>
            <time class="block mb-[2em] text-sm">{ publishDate }</time>
            <slot />
        </section>
    </main>
  </body>
</html>
